
    <!--JS Essential Scripts-->
	<script src="/static/js/plugins/jquery-1.9.1.min.js"></script>
    <script src="/static/js/will_this_fit/jquery-ui-1.10.2.min.js"></script>
    <script src="/static/js/argos/argos_products.js?v={{build_version}}"></script>
    <script src="/static/js/products.js?v={{build_version}}"></script>
    <script src="/static/js/prototype.js?v={{build_version}}"></script>
    <script src="/static/js/argos/vars.js?v={{build_version}}"></script>
    <script src="/static/js/will_this_fit/get_car.js?v={{build_version}}"></script>
    <script src="/static/js/will_this_fit/will_this_fit.js?v={{build_version}}"></script>
    <script src="/static/js/will_this_fit/pie.js?v={{build_version}}"></script>
    <script src="/static/js/sidebar.js?v={{build_version}}"></script>
    <script src="/static/js/plugins/modernizr.custom.js"></script>
    
 	<!--[if lte IE 8]>
    	<style type="text/css">#pie_center{display: none;}</style>
    <![endif]-->