<!--SHOW PRODUCT AND CAR REG OPTIONS -->
<div id="product_menu_box" class="default_left_pos">
	
	<a href="javascript:void(0);" id="slide_arrow"></a>
		
    <div id="product_select_box">
    	<div id="product_title_container"><a href="#">Select A User Scenario</a></div>
        <ul id="product_selection"></ul>
        
        <div id="car_regs">
	        <h3>Sample VRM Numbers:</h3>
			<ul id="reg_nos">
				<li><a href="javascript:void(0);" data-id="EY53GHJ">EY53GHJ</a></li>
				<li><a href="javascript:void(0);" data-id="EY53GWV">EY53GWV</a></li>
				<li><a href="javascript:void(0);" data-id="FA04FCX">FA04FCX</a></li>
			</ul>
        </div>
    </div>
</div>