@charset "UTF-8";
/* SPRITE */
	.sprite{background-image: url(../../images/homebase/will_this_fit/homebase_sprite.png);}

/* PRELOADER */
	#loader{background-image: url(../../images/homebase/will_this_fit/ajax-loader.gif);}

/* SIDE BAR */ 
	#sidebar_wrapper{
		background-color: #00a000;
		box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
	}

	.sidebar_content{background-color: #00a000;}

	.sidebar_content hr{border-top: 1px solid #36b94d;}

	p .answer{color: white;}

	.message_container{color: white;}

	.answer{color: white;}

/* SIDEBAR ICONS */
	#yes_icon{
		width: 64px;
		height: 64px;
		background-position: -178px -33px;
		float: left;
	}

	#maybe_icon{
		width: 53px;
		height: 61px;
		background-position: -58px -33px;
		float: left;
	}

	#no_icon{
		width: 65px;
		height: 65px;
		float: left;
		background-position: -112px -33px;
	}

/* ENTER CAR REGISTRATION FORM */
	#my_reg_form input{
	 	border: 2px solid #DCDCDC;
	    border-radius: 4px;
	    font-size: 24px;
	    font-weight: bold;
	}

	#my_reg_form input:focus{border: 2px solid #00A000;}

	#my_reg_form button{
		background-color: #18b70e;
	    border: none;
	    border-radius: 4px;
	    color: white;
	    font-size: 16px;
	    font-weight: bold;
	}

	#my_reg_form button:hover{background-color: #00A000;}

	#select_make_model div label{
		color: #7C7C7C;
	    font-size: 14px;
	}

	h3, #select_make_model label{
		font-family: Arial, Helvetica, sans-serif;
		color: #00a000;
	}

/* PIE DIAGRAM */
	.pieContainer{background-color: #0caf0c;}

	#pie_center{
		box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
		background-color: #ff8621;
		color: white;
	}

	#no_canvas{color: white;}

/* PANEL HEADER */
	#panel_header{
		background-image: url(../../images/homebase/will_this_fit/header_bg.gif);
		border-top: 1px solid #87d281;
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	}

	#panel_heading{
		text-align: center;
		color: white;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 18px;
		text-shadow: 0 1px 2px #006D00;
	}
	
	#close{background-position: -27px -33px;}

	#close:hover{background-position: -27px -65px;}

/* CONTENT SUB HEADER */
	#table_header{
		color:#975313;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #e7e5db 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e5db)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e5db 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#e7e5db 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#e7e5db 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#e7e5db 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e5db',GradientType=0 ); /* IE6-9 */
	}

/* CAR PRODUCT LIST */
	#item_list li h3{color: #66bd2b;}

/* BOOT SIZES TABLE */
	.size_table{
		color: #736355;
		border-left: 8px solid #e7e5db;
	}

	.size_table caption{border-left: 8px solid #e7e5db;}

	.to{background-color: #f5f5f5;}

	.size_table caption{
		color: #662e00;
		font-weight: bold;
		font-size: 14px;

		background-color: #e7e6dc;
		background: -moz-linear-gradient(top,  #ffffff 0%, #e7e6dc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e6dc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e6dc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#e7e6dc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#e7e6dc 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#e7e6dc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e6dc',GradientType=0 ); /* IE6-9 */
	}

/* BUTTON CONTAINER */
	#button_container{background-color: #f8f7f7;}

/* BUTTONS */
	.panel_btn, .std_btn{
		background-color: white;
		border-radius: 5px;
		margin-right:15px;
		border: 1px solid #d2d2d2;
		color: #333333;
	}

	.std_btn{
		background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
	}

	.std_btn:hover{
		background-color: white;
		color: black;
	}

	.start_again_btn{
		background-color: #1abb1a;
		border: 1px solid #007800;
		box-shadow: 
			inset 0 -1px 3px rgba(0,0,0, 0.3), 
  			inset 0 1px 3px rgba(255,255,255, 0.8);
		border-radius: 5px;
		color: white;
		padding: 8px 0 8px 0;
		text-align: center;
	}

	.start_again_btn:hover{background-color: #00cd00;}

	.orange_btn, #orange_style_btn{
		background-color: #ff8621;
		border: 1px solid #d94f07;
		box-shadow: 
			inset 0 -1px 3px rgba(0,0,0, 0.3), 
  			inset 0 1px 3px rgba(255,255,255, 0.8);
		border-radius: 5px;
		color: white;
		text-align: center;
	}

	.orange_btn{
		padding: 8px 44px 8px 28px;
		background-image: url(../../images/homebase/will_this_fit/homebase_sprite.png);
		background-repeat: no-repeat;
		background-position: right top;
	}

	.orange_btn:hover, #orange_style_btn:hover{
		background-color: #ff7400;
		color: white;
	}

	.book_for_delivery{color: #b7f38f;}

	.book_for_delivery:hover{text-decoration: underline;}

/* PANEL FOOTER: LIST RELATED CARS */
	#related_cars_wrapper{
		border-top: 2px solid #D7D6CD;
		background-color: #e7e5db;
		color: #66bd2b;
	}